<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Primer Nombre</th>
      <th scope="col">Segundo Nombre</th>
      <th scope="col">Primer Apellido</th>
      <th scope="col">Segundo Apellido</th>
      <th scope="col">Pais</th>
      <th scope="col">Tipo Identificación</th>
      <th scope="col">Identificación</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of EmployeeList">
      <td>{{dataItem.id}}</td>
      <td>{{dataItem.firstName}}</td>
      <td>{{dataItem.middleName}}</td>
      <td>{{dataItem.lastName}}</td>
      <td>{{dataItem.secondSurename}}</td>
      <td>{{dataItem.countryCode}}</td>
      <td>{{dataItem.identification.identificationType}}</td>
      <td>{{dataItem.identification.value}}</td>
      <td>{{dataItem.email}}</td>
    </tr>
  </tbody>
</table>
