<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
 <div class="container">
  <ul class="navbar-nav">
    <li class="nav-item">
      <button routerLink="list-of-employees" class="m-1 btn btn-light btn-outline-primary" Button>Lista de Empleados</button>
    </li>
    <li class="nav-item">
      <button routerLink="add-employee" class="m-1 btn btn-light btn-outline-primary" Button>Registrar Empleado</button>
    </li>
  </ul>
 </div>
</nav>
